@charset "utf-8";

body {
  min-width: 450px;
  margin-right: 16px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

li {
  padding-bottom: 2px;
  margin-bottom: 3px;
  border: solid 1px #ffffff;
}

li.current {
  background-color: #a8efaf;
}

li:hover {
  cursor: pointer;
  border: solid 1px green;
}

img.favicon {
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  padding-right: 2px;
}

span.title {
  word-wrap: break-word;
  word-break: break-all;
}
